.login-wrap.border.p-3.rounded
	div.p-2(style="font-size: 18px; font-weight: bold;")= userName
	div.p-2= `팔로워: ${followUsers}`
	div.p-2= `팔로잉: ${followingUsers}`
	.bts
		button.btn.btn-sm.btn-danger 로그아웃
		button.btn.btn-sm.btn-primary 로그인
		button.btn.btn-sm.btn-success 회원가입
