.login-wrap.border.p-3.rounded
	if user
		div.p-2(style="font-size: 18px; font-weight: bold;")= user.username
		div.p-2= `팔로워: ${user.followers.length}`
		div.p-2= `팔로잉: ${user.followings.length}`
	.bts
		if user
			input(type="hidden" name="userid" id="userid" value=`${user.id}`)
			button.btn.btn-sm.btn-danger(onclick="location.href='/auth/logout';") 로그아웃
		else
			button.btn.btn-sm.btn-primary(data-toggle="modal" data-target="#loginModal") 로그인
			button.btn.btn-sm.btn-success(data-toggle="modal" data-target="#joinModal") 회원가입

#joinModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			form(name="joinForm" method="post" action="/auth/join")
				.modal-header
					h5#exampleModalLabel.modal-title 회원가입
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") ×
				.modal-body
					div
						.py-1 이메일: 
						input.form-control(type="text" name="email" placeholder="이메일")
					div
						.py-1 패스워드: 
						input.form-control(type="password" name="userpw")
					div
						.py-1 이름(닉네임): 
						input.form-control(type="text" name="username")
				.modal-footer
					button.btn.btn-secondary(type="button" data-dismiss="modal") 닫기
					button.btn.btn-primary(type="submit") 가입

#loginModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			form(name="loginForm" method="post" action="/auth/login")
				.modal-header
					h5#exampleModalLabel.modal-title 회원로그인
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") ×
				.modal-body
					div
						.py-1 이메일: 
						input.form-control(type="text" name="email" placeholder="이메일")
					div
						.py-1 패스워드: 
						input.form-control(type="password" name="userpw")
				.modal-footer
					button.btn.btn-secondary(type="button" data-dismiss="modal") 닫기
					button.btn.btn-primary(type="submit") 로그인

