- if(!tag) tag = '';
form.form-inline.mt-3(method="get" action="/post/tag")
	input.form-control(name="tag" placeholder="태그를 검색하세요." value=`${tag}`)
	button.btn.btn-success.ml-2 검색
ul.list-wrap.mt-3
	each list in lists
		li.border.rounded.my-2.p-3
			div.p-2.border-bottom 
				span= list.User.username
				button.btn.btn-sm.btn-primary 팔로우
			div.comment.p-2= list.comment
			.img.p-2
				img(src=`${list.img}` style="max-width: 100%;")